@media(max-width: 767px) {
    section {
        &.top-main {
            .head {
                h1 {
                    font-size: 4rem;
                }
                h5 {
                    font-size: 1.5rem;
                }
            }
            .time-con{
                h6{
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                }
            }
        }

        &.gallery-main {
            .gallery-con {
                .item {
                    width: calc(100% / 2 - 2rem);
                }
            }
        }
    }
}

@media(max-width: 550px) {
    header {
        padding: 0 1.5rem;

        .contact-con{
            a{
                padding: 0.6rem;
                i{

                }
                span{
                    display: none;
                }
            }
        }

    }

    section {
        padding: 1rem 1.5rem;
        &.top-main {
            .head {
                h1 {
                    font-size: 3rem;
                }
                h5 {
                    font-size: 1.3rem;
                }
            }
            .contact-con{
                font-size: 1.5rem;
            }
        }
        &.gallery-main {
            .banner{
                width: 100%;
                height: 40vh;
            }
        }
    }
}

@media(max-width: 410px) {
    section {
        &.top-main{
            min-height: calc(80vh - 4.5rem);
            margin-bottom: 2rem;
            .head{
                h1{
                    font-size: 2.5rem;
                }

                h5{
                    font-size: 1.1rem;
                }
            }

            .time-con{
                h6{
                    font-size: 1.1rem;
                }

                p{
                    font-size: 1.2rem;
                }
            }

            .contact-con{
                padding: 0.8rem 1.6rem;
                font-size: 1.3rem;
            }
        }

        &.gallery-main{
            .head{
                h1{
                    font-size: 2.5rem;
                }
            }

            .gallery-con{
                .item{
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}